.cos-account-menu {
  ul {
    padding: 0;

    list-style: none;
    margin-bottom: 0;

    a.btn-default {
      @include button-variant($light, $light);
      width: 100%;
    }

    li {
      margin-bottom: map-get($spacers, 2);
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}
