.myshp_listsort_block {
  display: flex;
  justify-content: space-between;
  padding: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 3);
  background: $light;
  align-items: center;

  select {
    width: unset!important;
  }

  .title_sort {
    margin-left: auto;
    margin-right: map-get($spacers, 2);
  }
}

// sort a list into a grid or list
.sort-list {
  div {
    &.active {
      color: $white!important;
      background-color: $primary!important;
    }
    &:hover {
      cursor: pointer;
      color: $white!important;
      background-color: $primary!important;
    }
  }
}
