$myshp-product-information__bg: rgba(255,255,255,0.9);

.myshp-products {
  &__product {
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}
