.myshp-carousel {
  .carousel-item {
    height: 30rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .carousel-indicators {
    position: relative;

    [data-bs-target] {
      width: 100%;
      height: 100%;
      border-top: 0;
      border-bottom: 0;
      margin-left: 0;
      background: unset;
      background-clip: unset;
      box-sizing: unset;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }
}
