#lightbox {
  .lb-cancel {
    background: url('../images/loading.1.gif') no-repeat;
  }
  .lb-nav a.lb-prev {
    background: url('../images/prev.1.png') left 48% no-repeat;
  }
  .lb-nav a.lb-next {
    background: url('../images/next.1.png') right 48% no-repeat;
  }
  .lb-data .lb-close {
    background: url('../images/close.1.png') top right no-repeat;
  }
}
