.myshp_call_now {
  position: fixed;
  right: 5rem;
  bottom: 5rem;

  a {
    background: $primary;
    color: color-contrast($primary);
    padding: $spacer;
    border-radius: $border-radius-sm;
    // border-radius: 50%;
    text-decoration: none;
    transform: scale(1);
    transition: $transition;
    display: block;
    box-shadow: none;

    &:hover {
      background: shade-color($primary, 3%);
      color: color-contrast(shade-color($primary, 3%));
      transform: scale(1.03);
      box-shadow: $box-shadow-sm;
    }

    h5 {
      margin-bottom: 0;
      margin-top: map-get($spacers, 2);
      color: color-contrast($primary);
    }

    img {
      max-width: 100%;
      width: 30px;
      height: auto;
    }
  }
}
