.myshp_img_block {
  a {

  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  img[border='1'] {
    padding: $thumbnail-padding;
    background: $thumbnail-bg;
    border-width: $thumbnail-border-width;
    border-color: $thumbnail-border-color;
    border-radius: $thumbnail-border-radius;
    box-shadow: $thumbnail-box-shadow;
  }
}
