.nav-pills.custom-nav {
  overflow: hidden;
  padding: 0;
  border: none;
  // border-radius: $border-radius;
  box-shadow: $box-shadow-sm;

  li.nav-item {
    background: $light;
    align-self: stretch;

    &:last-child {
      .nav-link::after {
        background: transparent;
      }
    }
    @include media-breakpoint-down(lg) {
      width: 100% !important;
      margin-bottom: 5px;
    }
  }

  .nav-link {
    position: relative;
    height: 100%;
    padding-top: $spacer * 1.2;
    padding-bottom: $spacer * 1.2;
    text-align: center;
    font-size: $font-size-base * .875 !important;
    color: $dark;
    border: none !important;
    border-radius: 0 !important;
    background: none;
    background: none;

    &::after {
      display: inline-block;
      position: absolute;
      top: 25%;
      right: 0;
      width: 1px;
      height: 50%;
      content: '';
      background: $gray-400;
    }

    &.active {
      color: color-contrast($primary);
      background: $primary;

      &::after {
        background: transparent;
      }
    }

    &.disabled {
      cursor: not-allowed !important;
      color: $dark;
      background: $light;
    }
  }
}
