<!DOCTYPE html>
<html class="h-100" lang="nl">

<head>
  <!--meta name="myshop-settings-keep-relative" content="/skins/"/-->
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

  <!-- Google Meta Data-->
  <script type="application/ld+json" style="myshop-block:mustache">
    {
      "@context": "https://schema.org/",
      "@type": "Store",
      "@id": "{{merchant website}}",
      "name": "{{merchant company name}}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{merchant address}}",
        "addressLocality": "{{merchant city}}",
        "postalCode": "{{merchant zip}}",
        "addressCountry": "{{merchant country}}"
      },
      "image": [
        ""
      ],
      "telephone": "{{merchant phone}}",
      "priceRange": "€"
    }
  </script>

  <title style="myshop-value:page-title"></title>
  <meta content="myshop-meta:keywords" name="keywords" />
  <meta content="myshop-meta:description" name="description" />
  <meta name="author" content="MijnWinkel" />

  <meta property="og:title" content="myshop-value:page-title" />
  <!-- <meta property="og:image" content="" /> -->
  <meta property="og:decription" content="myshop-meta:description" />
  <meta property="og:type" content="website" />


  <link href='/skins/myshop5/images/favicon.ico' rel='shortcut icon' />
  <link href='/skins/myshop5/images/apple-touch-icon.png' rel='apple-touch-icon' />
  <link href='/skins/myshop5/images/apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72' />
  <link href='/skins/myshop5/images/apple-touch-icon-114x114.png' rel='apple-touch-icon' sizes='114x114' />

  <script type="text/javascript">
    function swapTab() {};

    function multiply() {};
  </script>


  <!-- Styling -->
  <!-- <link href="/skins/custom/shop6102200/css/main.1.css" rel="stylesheet" /> -->
  <link href="https://www.resources-myshop.com/skins/custom/shop6102200/css/standard.1.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column">

  <header class="sticky-top">
    <!-- Top Bar-->
    <div class="top-bar bg-white" style="myshop-has-value:header-text">
      <div class="container-fluid py-3">
        <!-- Content Top Bar -->
        <div style="myshop-value:header-text">
          Top Bar Content
        </div>
      </div>
    </div>
    <!-- #Top Bar-->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
          <img src="myshop-value:page-logo" alt="" style="height: auto; myshop-style-width:logo-width px;" class="d-inline-block align-top" />
        </a>
        <!-- #Logo -->

        <div class="d-flex align-items-center">
          <!-- Shopping cart Mobile-->
          <div class="nav-item me-2 d-block d-lg-none">
            <a class="nav-link mt-2 fs-5" aria-current="page" style="myshop-action:goto-basket">
              <span class="position-relative">
                <span class="bi bi-bag"></span>
                <span class="badge rounded-pill bg-primary position-absolute top-0 start-100 translate-middle" style="font-size: 10px;"><span style="myshop-basket:count-number"></span></span>
              </span>
            </a>
          </div>
          <!-- #Shopping cart Mobile-->

          <!-- Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- #Button -->
        </div>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

          <ul class="navbar-nav mb-2 mb-lg-0" style="myshop-repeat:header-top-menu-items">
            <li class="myshop-value:classname nav-item">
              <a href="myshop-action:href" class="nav-link">
                <span style="myshop-value:link" class=""></span>
              </a>
              <ul class="dropdown-menu" style="myshop-repeat:header-top-menu-items">
                <li class="myshop-value:classname ">
                  <a href="myshop-action:href" class="dropdown-item">
                    <span style="myshop-value:link" class="dropdown-item"></span>
                  </a>
                  <ul style="myshop-repeat:header-link-list" class="myshop-value:classname ">
                    <li class="myshop-value:classname">
                      <a href="myshop-action:href" class="dropdown-item">
                        <span style="myshop-value:link"></span>
                      </a>
                      <ul style="myshop-repeat:header-link-list">
                        <li class="myshop-value:classname">
                          <a href="myshop-action:href" class="dropdown-item">
                            <span style="myshop-value:link"></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- <span class="d-lg-flex align-items-lg-center" style="myshop-repeat:header-top-menu-items">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="myshop-action:href">
                  <span style="myshop-value:link">Link</span>
                </a>
              </li>
            </span> -->
          </ul>

          <div class="d-flex align-items-center">
            <!-- Search Bar -->
            <div class="navbar-search mt-lg-0 mt-md-3 mb-md-2 mb-lg-0 w-100">
              <div data-action="producten/" class="input-group" style="myshop-block:side-menu-quick-search">
                <input class="form-control border-0 rounded-start" style="myshop-control:quick-search" type="search" placeholder="Zoeken naar..." aria-label="Zoeken" />
                <span style="myshop-action:quick-search" title="Zoeken" class="input-group-text bg-white border-0">
                  <i class="bi bi-search"></i>
                </span>
              </div>
            </div>
            <!-- #Search Bar -->

            <!-- Shopping cart Desktop-->
            <div class="nav-item me-lg-0 d-none d-lg-block">
              <a class="nav-link mt-lg-0 fs-5 pb-0" aria-current="page" style="myshop-action:goto-basket">
                <span class="position-relative">
                  <span class="bi bi-bag"></span>
                  <span class="badge rounded-pill bg-primary position-absolute top-0 start-100 translate-middle" style="font-size: 10px;"><span style="myshop-basket:count-number"></span></span>
                </span>
              </a>
            </div>
            <!-- #Shopping cart Desktop -->
          </div>

        </div>
        <!-- #Navbar items -->

      </div>
    </nav>
    <!-- #Navbar -->
  </header>

  <!-- Main -->
  <main class="flex-shrink-0 py-5" id="rowAll">

    <!-- Only the middle section -->
    <div style="myshop-has:components middle-column-only">
      <!-- <div style="myshop-not-has:components row2 col3"> -->
      <div class="">
        <section class="col-md" id="colMiddle">
          <div style="myshop-repeat:components row2 col2">
            <div style="myshop-block:content">
              <!-- middle section -->

              <div style="myshop-has:access">
                <div class="container" style="myshop-block:side-menu-logout">
                  <h2>
                    <span style="myshop-resource:logout.header"></span>
                  </h2>
                  <a href="#" class="btn btn-primary" data-role="button" style="myshop-action:logout">
                    <span style="myshop-resource:logout.button"></span>
                  </a>
                </div>
              </div>

              <!-- Login block -->
              <div style="myshop-not-has:access">
                <div class="container my-3" style="myshop-block:side-menu-login">
                  <form class="row">
                    <div class="col-md-6 m-auto pb-5">

                      <div class="mb-4 text-center">
                        <h2 class="">
                          <span style="myshop-resource:login.header"></span>
                        </h2>
                        <p class="" style="myshop-resource:login.request.password2">
                          Vul hieronder uw gebruikersnaam in en klik op 'Wachtwoord vegeten?'.
                        </p>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail" style="myshop-control:username " />
                        <label for="floatingInput">E-mail</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Wachtwoord" style="myshop-control:password " />
                        <label for="floatingPassword">Wachtwoord</label>
                      </div>

                      <div class="d-flex flex-column justify-content-end">
                        <button type="button " class="btn btn-primary mt-4 mb-3 btn-lg" style="myshop-action:login">
                          <span class="bigger-110">Login</span>
                        </button>

                        <a class="link-secondary text-end w-100 d-block" style="myshop-action:request-password">
                          <span class="" style="myshop-resource:login.request.password"></span>
                        </a>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
              <!-- #Login block -->

            </div>
          </div>
        </section>
      </div>
      <!-- </div> -->
    </div>


    <div style="myshop-not-has:components middle-column-only">
      <div class="container">
        <div class="row">
          <div style="myshop-has:components row2 col1">
            <section class="col-lg-3 col-12 mb-3 mb-lg-0" id="colLeft">
              <div style="myshop-repeat:components row2 col1">
                <!-- left section -->
              </div>
            </section>
          </div>
          <div style="myshop-has:components row2 col2">
            <section class="col-lg-9 col-12 mt-lg-0 mb-3 mb-lg-0" id="colMiddle">
              <div style="myshop-repeat:components row2 col2">
                <div style="myshop-block:content">
                  <!-- middle section -->
                </div>
              </div>
            </section>
          </div>
          <div style="myshop-not-has:components row2 col2">
            <section class="col-lg-9 col-12">

            </section>
          </div>
          <div style="myshop-has:components row2 col3">
            <section class="col-lg-3 col-12 mt-lg-0 mb-3 mb-lg-0" id="colRight">
              <div style="myshop-repeat:components row2 col3">
                <!-- right section -->
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- Only the right section -->
    <!-- <div style="myshop-not-has:components row2 col1">
      <div style="myshop-not-has:components row2 col2">
        <div class="container">
          <div class="row justify-content-end">
            <section class="col-lg-3 col-12 mt-lg-0 mb-3 mb-lg-0" id="colRight">
              <div style="myshop-repeat:components row2 col3">
                <div style="myshop-block:content">

                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div> -->

  </main>
  <!-- #Main -->

  <!-- Footer -->
  <footer class="footer mt-auto pt-5 bg-light">
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7">
          <div class="row text-center text-md-start" style="myshop-repeat:footer-link-list">
            <div class="col-md">
              <h6 class="letter-spacing-1">
                <a href="myshop-action:href" class="link-dark">
                  <span style="myshop-value:link">Title</span>
                </a>
              </h6>
              <ul class="list-unstyled text-sm pt-2 pt-lg-0" style="myshop-repeat:footer-link-list">
                <li class="mb-2">
                  <a class="text-muted" href="myshop-action:href">
                    <span style="myshop-value:link">Link</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright section of the footer-->
    <div class="footer-copyright bg-white py-3">
      <div class="font-weight-light text-muted" style="myshop-has-value:footer-text">
        <div class="container">
          <span style="myshop-value:footer-text">Footer copyright</span>
        </div>
      </div>
    </div>
  </footer>
  <!-- #Footer -->

  <!-- Cookies -->
  <div style="myshop-is:show-tracking-message">
    <div class="myshp-cookies py-4 fixed-bottom bg-white" style="myshop-not-is:tracking-allowed">
      <div class="container">
        <p class="myshp-cookies__content text-center mb-0">
          <span class="">
            <span style="myshop-resource:cookies">Deze website maakt gebruik van cookies </span>
            (<a style="myshop-action:goto-tracking-information">
              <span style="myshop-resource:cookies2">meer informatie</span>
            </a>)
          </span>

          <span class="d-flex align-items-center justify-content-center mt-4 flex-wrap">
            <a style="myshop-action:hide-tracking-message" class="btn btn-outline-primary me-2 mb-2 mb-md-0">
              <i class="bi bi-chevron-double-left"></i>
              <span style="myshop-resource:cookies3">later opnieuw tonen</span>
            </a>
            <a style="myshop-action:allow-tracking" class="btn btn-success mb-2 mb-md-0">
              <i class="bi bi-check2"></i>
              <span style="myshop-resource:cookies4">ik ga akkoord met cookies</span>
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
  <!-- #Cookies -->

  <!-- Scripts -->
  <script src="https://www.resources-myshop.com/skins/custom/shop6102200/js/jquery.1.js"></script>
  <script src="https://www.resources-myshop.com/skins/custom/shop6102200/js/scripts.1.js"></script>
</body>

</html>
