body {
  min-height: 100vh;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

h1 {
  font-weight: $h1-font-weight;
}

h2 {
  font-weight: $h2-font-weight;
}

h3 {
  font-weight: $h3-font-weight;
}

h4 {
  font-weight: $h4-font-weight;
}

h5 {
  font-weight: $h5-font-weight;
}

h6 {
  font-weight: $h6-font-weight;
}
