// Backgound
.bg {
  background-color: $background-color;
  color: color-contrast($background-color);
}

.bg-primary {
  background-color: $primary;
  color: color-contrast($primary);
}

.bg-secondary {
  background-color: $secondary;
  color: color-contrast($secondary);
}

.bg-tertiary {
  background-color: $tertiary;
  color: color-contrast($tertiary);
}

.bg-quaternary {
  background-color: $quaternary;
  color: color-contrast($quaternary);
}

.bg-light {
  background-color: $light;
  color: color-contrast($light);
}

.bg-dark {
  background-color: $dark;
  color: color-contrast($dark);
}
// Text

.text-tertiary {
  color: $tertiary;
}

.text-quaternary {
  color: $quaternary;
}

// links
.link-primary {
  color: $primary;

  &:hover {
    color: shade-color($primary, 30%);
  }
}

.link-secondary {
  color: $secondary;

  &:hover {
    color: shade-color($secondary, 30%);
  }
}

.link-tertiary {
  color: $tertiary;

  &:hover {
    color: shade-color($tertiary, 30%);
  }
}

.link-quaternary {
  color: $quaternary;

  &:hover {
    color: shade-color($quaternary, 30%);
  }
}
