/*
  Font Size
*/

$font-size-base: 1.01rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

/*
  Font Weight
*/

$h1-font-weight: 900;
$h2-font-weight: 800;
$h3-font-weight: 700;
$h4-font-weight: 600;
$h5-font-weight: 500;
$h6-font-weight: 500;

/*
  Font Family
*/

$font-family-primary:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

/*
  Colors
*/

$primary: #e66465;
$secondary: #184196;
$tertiary: #fcba03;
$quaternary: #74b543;
$background-color: #fff;
$dark: #000000;
$light: #f8f9fa;

$bg-footer: #000;
$bg-navbar: #fff;
